# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/

# Data (never commit raw images)
foodlens/data/raw/
foodlens/data/processed/
*.csv

# Notebooks
.ipynb_checkpoints/

# Env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# NOTE: .pt files ARE committed for Streamlit deployment
